html{
    background-color: black;
    overflow-x: hidden;
}
body{
    background-color: black;
}
/* FONTS */
.archivo-black-regular {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px
}
.sour-gummy {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.creepster-regular {
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
}
/* NAVIGATION BAR*/
.nav-bar{
    text-align: center;
    color: #fff;
    padding: 15px;
    font-size: 20px;
    letter-spacing: 5px;
}
.nav-bar li{
    display: inline;
}
.nav-bar a{
    color: #fff;
}

/* INDEX/HOME */
#header{
    text-align: center;
    color: black;
}
#meet-the-members {
    width: 600px;
    height: 600px;
}
#meet-the-members img{
    border-radius: 20%;
    padding: 15px;
}
#mtm{
    background-color: #700e10 ;
}
#the-jewels{
    text-shadow: 10px 10px 5px #700e10 , -4px -4px 5px #700e10 , 4px -4px 5px #700e10 , -4px 4px 5px #700e10 ;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
}
.mtm-columns{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.fun-facts{
    background-color: #700e10 ;
    padding: 10px;
    color: #fff;
}
#meet-jade{
    display: none;
}
#meet-jade-2{
    display: none;
}
#meet-saph{
    display: none;
}
#meet-saph-2{
    display: none;
}
#meet-amyth{
    display: none;
}
#meet-amyth-2{
    display: none;
}
/* ORIGIN */
#mx-header{
    text-shadow: 6px 6px 5px #700e10 , -6px -6px 5px #00a86b , 6px -6px 5px #0f52ba , -6px 6px 5px #9966cc ;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
}
#origins-p{
    text-align: center;
    padding: 50px;
    font-size: 25px;
}
/* TOUR */
.tour-dates{
    border: 1px solid #fff ;
    text-align: center;
    margin-bottom: 50px;
}
.tour-dates th{
    width: 160px;
    color: #fff;
    font-size: 20px;
    border: 1px solid #fff ;
    padding: 5px;
}
.tour-dates td{
    border: 1px solid #fff ;
    font-size: 16px;
    color: #fff;
    padding: 3px;
}
/* CONTACT */
input{
    background-color: white;
    width: 800px;
    margin-left: 12%;
    margin-right: 12%;
    font-size: 20px;
    padding: 16px 16px;
    border-radius: 10px;
    border-color: rgb(97, 97, 97);
    margin-bottom: 20px;
    border-color: rgb(97, 97, 97);
    border-width: 2px;
}
textarea{
    background-color: white;
    width: 800px;
    margin-left: 12%;
    margin-right: 12%;
    font-size: 20px;
    padding: 16px 16px;
    border-radius: 10px;
    border-color: rgb(97, 97, 97);
    margin-bottom: 25px;
}
input:focus-within{
    outline: none;
    border-width: 5px;
}
textarea:focus-within{
    outline: none;
    border-color: rgb(97, 97, 97);
    border-width: 3px;
}
.form-btn{
    background-color: ;
    border-radius: 20px;
    border-color: rgb(97, 97, 97);
    font-size: 22px;
    padding: 10px 18px;
    text-align: center;
    display: flex;
    margin: auto;
}
.form-btn:hover{
    opacity: 80%;
    cursor: pointer;
}

/* SHOP */
.card-img-top{
    width: 22rem;
    height: 22rem;
}
#shop-header{
    color: #fff;
}
.shop-items{
    color: #fff;
}
.gonerglam{
    margin-top: 20px;
    padding-top: 20px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    padding-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    text-shadow: 2px 2px 2px rgb(42, 70, 20);
    background-color: rgb(0, 0, 0);
}
.gonerglamBorder{
    background-color: rgb(0, 0, 0);  
}
.buybtn{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(233, 209, 255);
    color: black;
}
.buybtn:hover{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    color: black;
}
.soldout{
    display: block;
    position: absolute;
    top: 10px;
    left: 15px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 3px;
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 18px
}
.price{
    display: block;
    position: absolute;
    left: auto;
    top: 10px;
    right: 15px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 3px;
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 18px
}
/* CARDS */
.card{
    margin: 10px;
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
    color: black;
}
/* CHANGE IMG ON HOVER 
#second-img{
    display: none;
}
.card:hover #first-img{
    display: none;
}
.card:hover #second-img{
    display: block;
    border-radius: 5px;
}
*/
/* HOVER ANIMATION CLASS: hvr-bob */
@keyframes hvr-bob {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
}
@keyframes hvr-bob-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
}
.hvr-bob {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
    -webkit-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
}